**/.git
**/.gitignore
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/*.pyc
**/.DS_Store

CosyVoice/pretrained_models/
CosyVoice/runtime/
CosyVoice/examples/
CosyVoice/asset/*.wav
CosyVoice/.github/
CosyVoice/docker/

voices/*
!voices/.gitkeep
models/
*.log
